.form{
    width: fit-content;
    padding: 2rem;
    border: .5px solid #878787;
    border-radius: 10px;
    min-width: 450px;
    background-color: #858585;

    .descriptionContainer{
        text-align: left;

        h2{
            font-weight: 700;
            font-size: 25px;
        }

        p{
            font-weight: 400;
            font-size: 16px;
        }
    }
}